<div style="margin-bottom: 32px;margin-top: 20px;" class="d-flex  justify-content-between">
  <div class="d-flex page" style="align-items: center;">
    <span>{{'data-ingestion.label.show' | translate}}</span>
    <ng-select [items]="limits"
               class="selectPage"
               style="padding: 0 5px;"
               bindLabel="name"
               [(ngModel)]="limit"
               [clearable]="false">
    </ng-select>
    <span>{{'data-ingestion.label.record' | translate}}</span>
  </div>
  <div style="width: 60%" class="d-flex mb-3 justify-content-end align-items-center">
    <nb-form-field style="width: 45%">
      <!--    <button nbSuffix nbButton ghost status="success" [nbTooltip]="'user.label.search'|translate"-->
      <!--            (click)="searchAlertGroup()">-->
      <!--      <nb-icon icon="search-outline" pack="eva"></nb-icon>-->
      <!--    </button>-->
      <!--    <input trim="blur" nbInput fullWidth type="text" name="search" [(ngModel)]="keySearch"-->
      <!--           (keydown.enter)="searchAlertGroup()">-->
      <div style="position: relative">
        <input class="mr-3 input-edit" fullWidth nbInput
               trim="blur"
               placeholder="Nội dung tìm kiếm"
               type="text" name="search" [(ngModel)]="keySearch"
               (keydown.enter)="searchTextAlertGroup()">
        <nb-icon nbPrefix icon="search-outline" pack="eva"
                 style="position: absolute;top: 8px;z-index: 3; right: 10px;color: #999;"></nb-icon>
      </div>
    </nb-form-field>
    <div class="edit-button">
      <button size="small" class="ml-5"
              *hasAnyAuthority="authoritiesConstant.SMS_ALERT_CONFIG.SMS_ALERT_CONFIG_WRITE"
              (click)="alertGroupForm.reset();dialogService.open(addOrUpdate, {context: {action:'add'},closeOnBackdropClick:false}); alertGroupForm.get('status').patchValue('1')">
        <nb-icon icon="plus" pack="eva"></nb-icon>
        {{'user.label.add'|translate}}
      </button>
    </div>
  </div>
</div>
<div style="margin-bottom: 50px">
  <ngx-datatable
    class="dark"
    [columnMode]="'force'"
    [rows]="rows"
    [columns]="columnsGroupAlert"
    [count]=""
    [headerHeight]="'auto'"
    [messages]="{totalMessage:'user.label.record'|translate}"
    [footerHeight]="50"
    [loadingIndicator]="true"
    [limit]="limit"
    rowHeight="auto"
  >
    <ng-container *ngFor="let col of columnsGroupAlert">
      <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [sortable]="false"
                            [flexGrow]="col.flex">
        <ng-template let-column="column" ngx-datatable-header-template>{{col.name}}</ng-template>
        <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template let-row="rows">
          <ng-container [ngSwitch]="col.prop">
            <ng-container *ngSwitchDefault>
                          <span class="custom-show-data" [title]="value">
                            {{value}}
                          </span>
            </ng-container>
            <ng-container *ngSwitchCase="'insertDate'">
                      <span class="custom-show-data">
                            {{value | date:'dd/MM/yyyy HH:mm' }}
                          </span>
            </ng-container>
            <ng-container *ngSwitchCase="'status'">
                      <span class="custom-show-data">
                            {{value === 1 ? 'On' : 'Off'}}
                          </span>
            </ng-container>
            <ng-container *ngSwitchCase="'actions'">
              <nb-toggle *hasAnyAuthority="authoritiesConstant.SMS_ALERT_CONFIG.SMS_ALERT_CONFIG_WRITE" status="info"
                         class="scale" [checked]="rows[rowIndex]?.status === 1"
                         (click)="showConfirmDialog(rowIndex, confirmDialog, $event)">
              </nb-toggle>
              <!--
                          <button nbTooltip="Cập nhật" class="p-1" nbButton status="warning" ghost
                                                          (click)="setValuealertGroupForm(rowIndex);dialogService.open(addOrUpdate, {context: {action:'update', id: rows[rowIndex].id}})" >
                            <nb-icon icon="edit-outline" pack="eva" size="tiny"></nb-icon>
                          </button>
                          <button nbTooltip="Xóa" title="Xoá" class="p-1" nbButton status="danger" ghost
                                                          (click)="dialogService.open(confirm, {context: {action:'delete', id: rows[rowIndex].id}})">
                            <nb-icon icon="trash-outline" pack="eva" size="tiny"></nb-icon>
                          </button>-->
            </ng-container>
          </ng-container>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <div style="padding: 5px 10px;width:250px">
            <div *ngIf="rowCount > 0">
              <!--                            Showing {{(offset * pageSize)+1}} to {{(rowCount>-->
              <!--                            (curPage*pageSize))?(curPage*pageSize):(rowCount)}} of-->
              <!--                            {{(rowCount)}} records.-->
              <!--                      <span>{{'data-ingestion.label.show' | translate}} {{(curPage - 1) * 10 + 1}} - {{rowCount - curPage * 10 >= 0 ? (curPage - 1) * 10 + 10 : rowCount}}/{{rowCount}}, page: {{curPage}}/{{getTotalPage(rowCount, pageSize)}}</span>-->
              <span>{{'data-ingestion.label.show' | translate}} {{(curPage - 1) * limit + 1}}
                - {{rowCount - curPage * limit >= 0 ? (curPage - 1) * limit + limit : rowCount}}
                /{{rowCount}} {{'data-ingestion.label.record' | translate}}</span>
            </div>
            <div *ngIf="rowCount === 0">
              <span>0 records</span>
            </div>
          </div>
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!((rowCount / pageSize) > 1)"
            (change)="table.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ng-container>
  </ngx-datatable>
</div>
<ng-template #confirm let-ref="dialogRef" let-data>
  <nb-card>
    <nb-card-header>
      <span *ngIf="data.action==='delete'"> Xóa bản ghi</span>
      <span *ngIf="data.action==='update'"> Update bản ghi</span>
      <span *ngIf="data.action==='add'"> Thêm bản ghi</span>
    </nb-card-header>
    <nb-card-body>
      <span *ngIf="data.action!== 'delete'">Bạn có muốn lưu bản ghi ?</span>
      <span *ngIf="data.action==='delete'">Bạn có muốn xóa bản ghi ?</span>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end edit-button">
        <button class="edit-button-cancel" (click)="ref.close()">
          <nb-icon icon="close-outline" pack="eva">
          </nb-icon>
          Đóng
        </button>
        <button *ngIf="data.action==='delete'"
                class="ml-2" (click)="deleteAlertGroup(data.id,ref)">
          <nb-icon icon="trash-2-outline" pack="eva">
          </nb-icon>
          Xóa
        </button>
        <button *ngIf="data.action!=='delete'"
                (click)="saveAlertGroup(ref, data.closePopup)" class="ml-2">
          <nb-icon icon="save-outline" pack="eva">
          </nb-icon>
          Lưu
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #addOrUpdate let-ref="dialogRef" let-data>
  <nb-card style="width: 600px; min-height: 300px">
    <nb-card-header>
      <span *ngIf="data.action==='update'">Update cấu hình cảnh báo</span>
      <span *ngIf="data.action==='add'">Thêm mới cấu hình cảnh báo</span>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="alertGroupForm">
        <div class="mb-3 ml-2 mr-2">
          <div class="d-flex w-100 align-items-center">
            <span class="w-25">Group code: </span>
            <input trim="blur" nbInput fullWidth class="w-75 input-edit" formControlName="groupCode" name="groupCode"
                   pattern="^((?!%).)*$">
          </div>
          <ng-container
            *ngIf="alertGroupForm.get('groupCode').invalid && alertGroupForm.get('groupCode').touched ">
            <ngx-inline-message [formName]="alertGroupForm.get('groupCode')"
                                [message]="'Group code'"></ngx-inline-message>
          </ng-container>
        </div>
        <div class="mb-3 ml-2 mr-2">
          <div class="d-flex w-100 align-items-center">
            <span class="w-25">Description: </span>
            <input  trim="blur" nbInput fullWidth class="w-75 input-edit" formControlName="description" name="description"
                   pattern="^((?!%).)*$">
          </div>
          <ng-container
            *ngIf="alertGroupForm.get('description').invalid && alertGroupForm.get('description').touched ">
            <ngx-inline-message [formName]="alertGroupForm.get('description')"
                                [message]="'Description'"></ngx-inline-message>
          </ng-container>
        </div>
        <div class="mb-3 ml-2 mr-2">
          <nb-radio-group formControlName="status" name="status" class="d-flex ml-3">
            <nb-radio class="mr-5" [value]="'1'"><span>On</span></nb-radio>
            <nb-radio [value]="'0'"><span>Off</span></nb-radio>
          </nb-radio-group>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end edit-button">
        <button (click)="ref.close()" class="mr-2 edit-button-cancel">
          <nb-icon icon="close-outline" pack="eva"></nb-icon>
          Đóng
        </button>
        <button
          (click)="saveAlertGroup(ref)"
          [disabled]="alertGroupForm.invalid">
          <nb-icon icon="save-outline" pack="eva"></nb-icon>
          Lưu
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #confirmDialog let-ref='dialogRef' let-data>
  <nb-card>
    <nb-card-header>
      Chuyển trạng thái
    </nb-card-header>
    <nb-card-body>
      Xác nhận chuyển trạng thái của nhóm cảnh báo ?
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex w-100 justify-content-end align-items-center edit-button">
        <button (click)="ref.close()" class="mr-2 edit-button-cancel">
          Đóng
        </button>
        <button (click)="setValuealertGroupForm(data);saveAlertGroup(); ref.close()">
          Xác nhận
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
