<h1 id="title" class="title">{{'changePass.changePassTitle'|translate}}</h1>
<nb-alert outline="danger" *ngIf="changePassFail" closable (close)="onClose()">{{message}}</nb-alert>
<nb-alert outline="success" *ngIf="changePassSuccess" closable (close)="onCloseSuccess()">{{message}}</nb-alert>
<form [formGroup]="userForm"  aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="newPassword">{{'changePass.password'|translate}}<span class="text-danger ml-2">*</span></label>
    <input nbInput
           fullWidth
           name="newPassword"
           type="password"
           id="newPassword"
           formControlName="newPassword"
           placeholder="{{'changePass.password'|translate}}"
           [status]="userForm.get('newPassword').dirty ?
           (userForm.get('newPassword').invalid  ? 'danger' : 'success') : ''">
    <ng-container *ngIf="userForm.get('newPassword').invalid && userForm.get('newPassword').touched ">
      <ngx-inline-message [formName]="userForm.get('newPassword')" [message]="'changePass.password'"></ngx-inline-message>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="confirmPassword">{{'changePass.confirmPassword'|translate}}<span class="text-danger ml-2">*</span></label>
    <input nbInput
           fullWidth
           name="confirmPassword"
           type="password"
           id="confirmPassword"
           formControlName="confirmPassword"
           placeholder="{{'changePass.confirmPassword'|translate}}"
           [status]="userForm.get('confirmPassword').dirty ?
           (userForm.get('confirmPassword').invalid  ? 'danger' : 'success') : ''">
    <ng-container *ngIf="userForm.get('confirmPassword').invalid && userForm.get('confirmPassword').touched ">
      <ngx-inline-message [formName]="userForm.get('confirmPassword')" [message]="'changePass.confirmPassword'"></ngx-inline-message>
    </ng-container>
  </div>

  <button nbButton fullWidth [disabled]="userForm.invalid" (click)="changePass()"> {{'changePass.btnChange'|translate}}</button>
  <button class="back-login-btn" (click)="backToLogin()" >{{'requestPassword.backToLogin'|translate}}
  </button>
</form>
