<nb-card>
  <nb-card-header class="edit-button">
    Danh sách ứng dụng {{cluster ? 'của cụm "' + cluster?.clusterName + '"' : ''}}
    <button class="float-right"  (click)="addApplication()">
      <nb-icon icon="plus-outline">
      </nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <div>
      <ngx-datatable class="dark fullscreen"
                     [columnMode]="'flex'"
                     [rows]="applicationNodes"
                     [columns]="columns"
                     [headerHeight]="'auto'"
                     [rowHeight]="'auto'"
                     [footerHeight]="'auto'"
                     [count]="page.totalElements"
                     [externalPaging]="true"
                     [limit]="10"
                     [offset]="page.pageNumber"
                     [messages]="{totalMessage:'bản ghi', emptyMessage:''}"
                     (page)="setPage($event)"
      >
        <ng-container *ngFor="let col of columns">
          <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [flexGrow]="col.flexGrow">
            <ng-template let-column="column" ngx-datatable-header-template>
              {{ column.name}}
            </ng-template>
            <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <ng-container [ngSwitch]="col.prop">
                <ng-container *ngSwitchCase="'id'">
                  {{rowIndex + 1 + (page.pageNumber * page.size)}}
                </ng-container>
                <ng-container *ngSwitchCase="'treeName'">
                  {{ value ? value.replace(' / ' + row.nodeName, '') : '' }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ value }}
                </ng-container>
                <ng-container *ngSwitchCase="'action_btn'" class="text-right">
                  <div>
                    <button class="p-1" nbButton status="warning" ghost (click)="edit(row)">
                      <nb-icon icon="edit-outline" pack="eva" size="tiny"></nb-icon>
                    </button>
                    <button class="p-1" nbButton status="danger" ghost (click)="delete(row)">
                      <nb-icon icon="trash-2-outline" pack="eva" size="tiny"></nb-icon>
                    </button>
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
        </ng-container>
      </ngx-datatable>
    </div>
  </nb-card-body>
</nb-card>
