<nb-layout style="min-height: 60vh">
  <nb-layout-column
    style="padding-right: 4px !important;padding-left: 0 !important;padding-top: 15.6px !important">
    <div class="row">
      <div class="col-md-12">
        <nb-card style="min-height: 60vh">
          <nb-card-body>
            <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
              <h2 class="title" style="color:var(--color-text-light)">404 Trang không tồn tại</h2>
              <small class="sub-title" style="color:var(--color-text-light)">Trang bạn đang tìm kiếm hiện không
                có</small>
              <button nbButton fullWidth (click)="goToHome()" type="button" class="home-button">
                Quay về trang chủ
              </button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
