.info-sr,
.list-user {
  padding: 16px;
  border: 1px solid var(--border-popup-area);
  border-radius: 5px;
  height: 350px;
  overflow-y: hidden;

  strong {
    font-weight: bold;
    font-size: 14px;
    color: var(--color-text-light);
  }

  label {
    font-weight: normal;
    font-size: 12px;
    color: var(--color-text-light);
  }
}

//.info-sr {
//  overflow: visible;
//}

.list-user {
  &__content {
    width: 100%;
    padding: 0 16px;

    b {
      font-size: 11px;
      font-weight: normal;
      text-decoration-line: underline;
    }

    nb-icon {
      width: 15px;
      margin-right: 5px;
    }
  }
}

.table-list-user {
  td {
    padding: 5px 5px;
    font-size: 12px;
    color: var(--color-text-light);
  }
}

.table-row-listUser-header {
  font-weight: normal;
  font-size: 12px;
  color: var(--color-text-light);

  th {
    padding-left: 10px;
  }

  th:last-child {
    width: 25px;
  }
}

.table-row-listUser {
  td {
    padding: 10px 0;
  }

  input {
    margin-right: 5px;
    background-color: var(--bg-select-sr) !important;
    border: 1px solid var(--bg-select-sr) !important;
  }
}

.custom-textarea {
  margin-bottom: 0;

  span {
    margin-right: 20px;
    flex-shrink: 0;
  }

  &__item {
    background: var(--bg-back);
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    height: 70px;
    border: 1px solid var(--border-select-dropdown);

    textarea {
      width: 100%;
      color: var(--color-text-light);
      border: none !important;
      outline: none;
      line-height: 22px;
      resize: none;
      font-size: 12px;
      border-radius: 5px;
      //overflow: hidden;
      //min-height: 2490px;
    }

    textarea:focus-visible {
      outline: none;
    }
  }
}

//.edit-delete-user-sr {
//  display: none;
//}

:host ::ng-deep {
  .background-detail {
    .scrollable-container {
      //max-height: 95vh;asdas
      //background: none;

      .layout {
        min-height: 0;
      }
    }
  }

  nb-card-body {
    padding: 0rem 1.5rem;
  }

  nb-layout .scrollable-container .layout {
    min-height: 0;
  }

  .nb-theme-dark nb-layout .layout {
    min-height: 0;
  }

  .status-basic:disabled {
    color: #8c95b2 !important;
  }

  .select-edit-sr.ng-select .ng-select-container {
    background-color: var(--bg-select-sr);
    border: 1px solid var(--bg-select-sr);
    color: var(--color-text-light);
    border-radius: 5px;
  }

  .ngx-datatable.dark .datatable-header .datatable-header-cell {
    padding: 0rem 1.2rem;
  }

  .ngx-datatable.dark .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 0rem 1.2rem;
  }

  .datatable-row-center.datatable-row-group.ng-star-inserted:hover {
    background: rgba(140, 149, 178, 0.15);
  }

  //.ngx-datatable.dark .datatable-body .datatable-body-row:hover .edit-delete-user-sr {
  //  display: block;
  //}

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 1px;
    padding-left: 7px;
  }

  .ng-select.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-placeholder,
  .ng-select.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-value {
    color: #8c95b2;
    font-size: 14px;
  }

  .ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
    margin-bottom: 0px;
    margin-right: 5px;
  }

  .p-button {
    background: var(--bg-back);
    border: 2px solid var(--bg-back);
    border-radius: 5px;
    color: var(--color-text-light);
    height: 35px;
  }

  .p-button:focus {
    box-shadow: none;
  }

  .p-button:enabled:hover {
    background: var(--bg-back);
    color: var(--color-text-light);
    border-color: var(--bg-back);
  }

  span.p-button-icon.pi.pi-calendar {
    color: #8f9bb3;
  }

  .p-calendar .p-inputtext {
    background-color: var(--bg-back) !important;
    border: 2px solid var(--bg-back);
    border-radius: 5px !important;
    color: var(--color-text-light);
    font-size: 12px;
    height: 35px;
  }

  .p-calendar .p-inputtext:focus {
    border: 1px solid #3366ff !important;
    transform: scale(1);
  }

  .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: #3366ff;
  }

  .p-inputtext:enabled:hover {
    border-color: #3366ff !important;
    border: 1px solid #3366ff !important;
  }

  .ngx-datatable.dark .datatable-body {
    max-height: 200px;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

::ng-deep {
  .p-datepicker table td {
    padding: 0rem;
  }

  .p-datepicker .p-datepicker-header span {
    color: var(--color-text-light);
  }

  .p-datepicker {
    background: var(--bg-back) !important;
    color: var(--color-text-light);
    border: 0.0625rem solid #101426;
  }

  .p-calendar .p-datepicker {
    min-width: 100%;
    transform: scale(0.6) !important;
    left: -55px !important;
  }

  .p-datepicker .p-datepicker-header {
    color: var(--color-text-light);
    background: var(--bg-back) !important;
    border-bottom: 1px solid #101426;
  }

  .p-datepicker:not(.p-disabled)
  table
  td
  span:not(.p-highlight):not(.p-disabled):hover {
    background: #e9ecef;
    color: black;
  }

  .p-datepicker table td.p-datepicker-today > span {
    background: #dcdcdc;
    color: black;
  }

  .p-datepicker .p-timepicker span {
    font-size: 1.25rem;
    color: var(--color-text-light);
  }
}

.input-password {
  position: relative;
}

.input-toggle-pass {
  background: transparent;
  outline: 0;
  border: 0;
  position: absolute;
  right: 14px;
  top: 6px;
  color: #8f9bb3;
}

.status-user-type1 {
  background: rgba(2, 191, 81, 0.15);
  color: rgba(2, 191, 81, 1);
  border-radius: 5px;
  padding: 5px 16px;
  font-size: 12px;
  line-height: 16px;
}
