<!--<nav aria-label="breadcrumb">-->
<!--  <ol class="breadcrumb" style="margin-bottom: 0 !important; background-color: #181E38;">-->
<!--    <li class="breadcrumb-item">-->
<!--      <a class="text-decoration-none" routerLink="/webportal/group-chart"-->
<!--         >VDP-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="breadcrumb-item">-->
<!--      <a class="text-decoration-none"-->
<!--         >HDFS Tools-->
<!--      </a></li>-->
<!--    <li class="breadcrumb-item" aria-current="page">-->
<!--      <a class="text-decoration-none" routerLink="/webportal/role-management"-->
<!--         >User HDFS manager-->
<!--      </a>-->
<!--    </li>-->
<!--  </ol>-->
<!--</nav>-->
<nb-layout>
  <nb-layout-column style="padding-right: 0 !important;padding-left: 0 !important;padding-top: 15.6px !important;">
    <div>
      <nb-card [nbSpinner]="isLoading" [nbSpinnerMessage]="'Processing...'" nbSpinnerStatus="primary">
        <nb-card-header>
          <div class="d-flex justify-content-between">
            <span class="title-page">{{'user-hdfs.label.listUserHdfs'| translate}}</span>
            <div class=" offset-2 d-flex edit-button justify-content-end">
              <button *hasAnyAuthority="authority.USER_HDFS_MANAGER.USER_HDFS_MANAGER_WRITE" type="button"
                      nbTooltip="{{'Modify User'}}"
                      nbTooltipPlacement="top" (click)="openAddorEditDialog(addOrEdit)">
                <nb-icon icon="plus-outline"></nb-icon>
                <strong>Modify User</strong>
              </button>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div style="margin-bottom: 32px;margin-top: 20px;" class="d-flex justify-content-between">
            <div class="d-flex page">
              <span>{{'data-ingestion.label.show' | translate}}</span>
              <ng-select [items]="limits"
                         class="selectPage"
                         bindLabel="name"
                         [(ngModel)]="limit"
                         [clearable]="false"
                         appendTo="">
              </ng-select>
              <span>{{'data-ingestion.label.record' | translate}}</span>
            </div>
            <div class="col-5">
              <nb-form-field>
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input class="input-edit" nbInput fullWidth trim="blur"
                       placeholder="{{'user-hdfs.label.nameUser' | translate}}"
                       [(ngModel)]="searchText" (change)="query()">
              </nb-form-field>
            </div>
          </div>
          <div style="margin-bottom: 50px">
            <ngx-datatable class="dark fullscreen" #table
                           [columnMode]="'force'"
                           [rows]="listHdfsUser"
                           [count]="listHdfsUser.length"
                           [limit]="limit"
                           [headerHeight]="'auto'"
                           [rowHeight]="'auto'"
                           [footerHeight]="'auto'"
                           [columns]="columns"
                           [messages]="{totalMessage: 'data-ingestion.label.record' | translate}">
              <ng-container *ngFor="let col of columns">
                <ngx-datatable-column prop="{{col.prop}}" name="{{col.name | translate}}" [flexGrow]="col.flexGrow"
                                      [sortable]="false">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <ng-container [ngSwitch]="col.prop">
                      <ng-container *ngSwitchDefault>
                        {{ column.name |translate }}
                      </ng-container>
                      <ng-container *ngSwitchCase="'stt'">
                        <div class="text-center"><span class="w-100">{{ column.name |translate}}</span></div>
                      </ng-container>
                      <ng-container *ngSwitchCase="'action'">
                        <div style="text-align: center"><span class="w-100">{{ column.name |translate}}</span></div>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <ng-container [ngSwitch]="col.prop">
                      <ng-container *ngSwitchCase="'stt'">
                        <div class="text-center">{{rowIndex + 1}}</div>
                      </ng-container>

                      <ng-container *ngSwitchDefault>
                        <span [title]="value"> {{ value ? value : 'N/A' }} </span>
                      </ng-container>

                      <ng-container *ngSwitchCase="'hdfsUser'">
                        <div class="d-flex"><span class="custom-show-data"
                                                  [title]="value">{{value ? value : 'N/A'}}</span></div>
                      </ng-container>

                      <ng-container *ngSwitchCase="'description'">
                        <div class="d-flex"><span class="custom-show-data"
                                                  [title]="value">{{value ? value : 'N/A'}}</span></div>
                      </ng-container>

                      <ng-container *ngSwitchCase="'action'">
                        <div
                          class="w-100 d-flex justify-content-center">
                          <button *hasAnyAuthority="authority.USER_HDFS_MANAGER.USER_HDFS_MANAGER_WRITE" class="edit"
                                  status="warning" nbButton ghost
                                  nbTooltip="{{'data-ingestion.label.edit'| translate}}"
                                  (click)="openAddorEditDialog(addOrEdit, row)">
                            <nb-icon icon="edit-outline" pack="eva" size="tiny"></nb-icon>
                          </button>
                          <button *hasAnyAuthority="authority.USER_HDFS_MANAGER.USER_HDFS_MANAGER_WRITE" nbButton
                                  status="danger" ghost
                                  nbTooltip="{{'data-ingestion.label.delete'| translate}}"
                                  (click)="dialogService.open(confirmDelete, {context: row, closeOnBackdropClick:false})">
                            <nb-icon icon="trash-2-outline" pack="eva" size="tiny"></nb-icon>
                          </button>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                  <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset">
                    <div style="padding: 5px 10px;width:200px">
                      <div *ngIf="rowCount > 0">
                        <!--                            Showing {{(offset * pageSize)+1}} to {{(rowCount>-->
                        <!--                            (curPage*pageSize))?(curPage*pageSize):(rowCount)}} of-->
                        <!--                            {{(rowCount)}} records.-->
                        <!--                      <span>{{'data-ingestion.label.show' | translate}} {{(curPage - 1) * 10 + 1}} - {{rowCount - curPage * 10 >= 0 ? (curPage - 1) * 10 + 10 : rowCount}}/{{rowCount}}, page: {{curPage}}/{{getTotalPage(rowCount, pageSize)}}</span>-->
                        <span>{{'data-ingestion.label.show' | translate}} {{(curPage - 1) * limit + 1}}
                          - {{rowCount - curPage * limit >= 0 ? (curPage - 1) * limit + limit : rowCount}}
                          /{{rowCount}} {{'data-ingestion.label.record' | translate}}</span>
                      </div>
                      <div *ngIf="rowCount === 0">
                        <span>0 {{'data-ingestion.label.record' | translate}}</span>
                      </div>
                    </div>
                    <datatable-pager
                      [pagerLeftArrowIcon]="'datatable-icon-left'"
                      [pagerRightArrowIcon]="'datatable-icon-right'"
                      [page]="curPage"
                      [size]="pageSize"
                      [count]="rowCount"
                      [hidden]="!((rowCount / pageSize) > 1)"
                      (change)="table.onFooterPage($event)">
                    </datatable-pager>
                  </ng-template>
                </ngx-datatable-footer>

              </ng-container>
            </ngx-datatable>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>

<ng-template #addOrEdit let-data let-ref="dialogRef">
  <nb-card style="width: 40vw;">
    <nb-card-header class="d-flex justify-content-between">
      <div>
        {{'user-hdfs.label.addNewUser'| translate}}
      </div>
      <div>
        <button nbButton ghost (click)="ref.close()" style="background: none; border: none; color: #8C95B2">
          <nb-icon [icon]="'times'" pack="fa" style="font-size: 20px"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div [formGroup]="formGroup">
        <div class="row">
          <div class="col-3">
            User name
          </div>
          <div class="col-9">
            <input class="input-edit" nbInput fullWidth trim="blur" [autofocus]="false"
                   placeholder="{{'user-hdfs.label.nameUser'| translate}}" formControlName="hdfsUser">
            <ngx-inline-message [message]="'user-hdfs.label.nameUser'| translate"
                                [formName]="formGroup.get('hdfsUser')"></ngx-inline-message>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
            {{'user-hdfs.label.description'| translate}}
          </div>
          <div class="col-9">
            <textarea style="min-height: 72px" class="input-edit" nbInput [rows]="'4'" fullWidth
                      formControlName="description"></textarea>
          </div>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end edit-button">
        <button (click)="save(ref)">
          <nb-icon icon="checkmark-outline"></nb-icon>
          <strong>{{'user-hdfs.label.save'| translate}}</strong>
        </button>
        <button class="edit-button-cancel ml-2" (click)="ref.close()">
          <nb-icon icon="close-outline"></nb-icon>
          <strong> {{'user-hdfs.label.cancel'| translate}}</strong>
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #confirmDelete let-data let-deleteRef="dialogRef">
  <nb-card style="width: 400px;">
    <nb-card-header class="d-flex justify-content-between">
      <span>{{'data-ingestion.label.deleteItem'| translate}}</span>
      <div>
        <button nbButton ghost (click)="deleteRef.close()" style="background: none; border: none; color: #8C95B2">
          <nb-icon [icon]="'times'" pack="fa" style="font-size: 20px"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      {{'data-ingestion.label.confirmDelete'| translate}}
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex edit-button justify-content-end">
        <button (click)="delete(data.id); deleteRef.close()">
          <nb-icon icon="checkmark-outline"></nb-icon>
          <strong>{{'data-ingestion.label.confirm'| translate}}</strong>
        </button>
        <button class="edit-button-cancel ml-2" (click)="deleteRef.close()">
          <nb-icon icon="close-outline"></nb-icon>
          <strong>{{'user.label.cancel'|translate}}</strong>
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
