<!--<nav aria-label="breadcrumb">-->
<!--  <ol class="breadcrumb" style="margin-bottom: 0 !important; background-color: #181E38;">-->
<!--    <li class="breadcrumb-item">-->
<!--      <a class="text-decoration-none" routerLink="/webportal/group-chart"-->
<!--      >VDP-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="breadcrumb-item">-->
<!--      <a class="text-decoration-none"-->
<!--      >Quản lý kết nối-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="breadcrumb-item" aria-current="page">-->
<!--      <a class="text-decoration-none" routerLink="/webportal/thrift-manager"-->
<!--      >-->
<!--        Thrift authorization-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="breadcrumb-item" aria-current="page">-->
<!--      <a class="text-decoration-none" routerLink="/webportal/thrift-manager"-->
<!--      >-->
<!--        Thrift list-->
<!--      </a>-->
<!--    </li>-->
<!--  </ol>-->
<!--</nav>-->

<nb-layout>
  <nb-layout-column style="padding-left: 0 !important;padding-right: 0 !important;padding-top: 15.6px !important;">
    <nb-card>
      <nb-card-header>
        <div class="d-flex justify-content-between edit-button">
          <strong class="title">List thrift</strong>
          <button *hasAnyAuthority="authority.THRIFT_MANAGE.THRIFT_MANAGE_WRITE" (click)="createNewThrift()">
            <nb-icon icon="plus-outline"></nb-icon>
            <strong class="custom-show-data">Create new thrift</strong>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="d-flex justify-content-between header row ml-0 mr-0" style="margin-bottom: 32px;margin-top: 20px;">
          <div class="d-flex page">
            <span class="mr-2">{{'page.show'| translate}}</span>
            <ng-select [items]="limits"
                       class="selectPage mr-2"
                       bindLabel="name"
                       [(ngModel)]="limit"
                       [clearable]="false">
            </ng-select>
            <span>{{'page.record' | translate}}</span>
          </div>
          <div class="col-4 d-flex justify-content-end edit-button p-0">
            <input class="input-edit" trim="blur" nbInput fullWidth style="position: relative;padding-right: 0"
                   placeholder="Nội dung tìm kiếm"
                   [(ngModel)]="keySearch" (keydown)="filter($event)">
            <nb-icon nbPrefix icon="search-outline" pack="eva"
                     style="position: absolute;top: 8px;right:10px;"></nb-icon>
          </div>
        </div>
        <div style="margin-bottom: 30px">
          <ngx-datatable
            #table
            class="dark"
            [rows]="dataTable"
            [columnMode]="'force'"
            [columns]="columns"
            [messages]="{totalMessage: 'data-ingestion.label.record' | translate}"
            [headerHeight]="'auto'"
            [limit]="limit"
            [footerHeight]="50"
            fullWidth
            [loadingIndicator]="true"
            rowHeight="auto">
            <ng-container *ngFor="let col of columns">
              <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [sortable]="false" [flexGrow]="col.flex">
                <ng-template let-column="column" ngx-datatable-header-template>
                  <ng-container [ngSwitch]="col.prop">
                    <ng-container *ngSwitchCase="'activated'">
                      <div style="text-align: center">{{ column.name |translate }}</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'action'">
                      <div style="text-align: center">{{ column.name |translate }}</div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ column.name |translate }}
                    </ng-container>
                  </ng-container>
                </ng-template>

                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template let-row="row">
                  <ng-container [ngSwitch]="col.prop">
                    <ng-container *ngSwitchDefault>
                      <span class="custom-show-data" [title]="value">{{value ? value : 'N/A'}}</span>
                    </ng-container>
                    <!--                  <ng-container *ngSwitchCase="'id'">-->
                    <!--                    <div style="text-align: center">{{ value |translate }}</div>-->
                    <!--                  </ng-container>-->
                    <ng-container *ngSwitchCase="'activated'">
                      <div *ngIf="value === 1" class="edit-status-active">
                        <div class="status-bg-opacity"></div>
                        <div class="custom-show-data status-greend">Active
                        </div>
                      </div>
                      <div *ngIf="value === 0" class="edit-status-lock">
                        <div class="status-bg-opacity"></div>
                        <div class="custom-show-data status-red"
                        >Lock
                        </div>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'action'">
                      <div class="d-flex justify-content-center">
                        <button *hasAnyAuthority="authority.THRIFT_MANAGE.THRIFT_MANAGE_WRITE" class="edit"
                                status="warning"
                                nbButton ghost (click)="editThrift(rowIndex)"
                                nbTooltip="{{'label.edit' | translate}}">
                          <nb-icon icon="edit-outline" pack="eva" size="tiny"></nb-icon>
                        </button>
                        <button *hasAnyAuthority="authority.THRIFT_MANAGE.THRIFT_MANAGE_WRITE" nbButton status="danger"
                                ghost
                                (click)="diaglogService.open(confirmDelete,{context:{'id':row.id}})"
                                nbTooltip="{{'label.delete' | translate}}">
                          <nb-icon icon="trash-2-outline" pack="eva" size="tiny"></nb-icon>
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  ngx-datatable-footer-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset">
                  <div style="padding: 5px 10px;width:250px">
                    <div *ngIf="rowCount > 0">
                    <span>{{'page.show' | translate}} {{(curPage - 1) * limit + 1}}
                      - {{rowCount - curPage * limit >= 0 ? (curPage - 1) * limit + limit : rowCount}}
                      /{{rowCount}} {{'page.record' | translate}}</span>
                    </div>
                    <div *ngIf="rowCount === 0">
                      <span>0 {{'page.record' | translate}}</span>
                    </div>
                  </div>
                  <datatable-pager
                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'"
                    [page]="curPage"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="table.onFooterPage($event)">
                  </datatable-pager>
                </ng-template>
              </ngx-datatable-footer>
            </ng-container>
          </ngx-datatable>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>

<ng-template #createThrift let-data let-create="dialogRef">
  <nb-card style="width: 40vw;background: #181E38 !important;">
    <nb-card-header class="d-flex justify-content-between">
      <strong class="custom-show-data" style="align-self: center;"
              *ngIf="data.title === 'create'">{{'Thrift.label.create'| translate}}</strong>
      <strong class="custom-show-data" style="align-self: center;"
              *ngIf="data.title === 'edit'">{{'Thrift.label.editThrift'| translate}}</strong>
      <button nbButton ghost (click)="create.close()" style="background: none; border: none; color: #8C95B2">
        <nb-icon [icon]="'times'" pack="fa" style="font-size: 20px"></nb-icon>
      </button>
    </nb-card-header>

    <nb-card-body>
      <div [formGroup]="formThrift">
        <div class="d-flex row mb-3">
          <strong class="custom-show-data col-3">{{'Thrift.label.name'| translate}}<span class="pl-2"
                                                                                         style="color: red">*</span></strong>
          <div class="col-9">
            <input trim="blur" nbInput fullWidth class="input-edit" type="text"
                   formControlName="name">
            <ngx-inline-message [message]="'Thrift.label.name'| translate"
                                [formName]="formThrift.get('name')"></ngx-inline-message>
          </div>
        </div>
        <div class="d-flex row mb-3">
          <strong class=" col-3">{{'Thrift.column.host'| translate}}<span class="pl-2"
                                                                          style="color: red">*</span></strong>
          <div class="col-9">
            <input class="input-edit" trim="blur" nbInput fullWidth
                   formControlName="host">
            <ngx-inline-message [message]="'Thrift.column.host'| translate"
                                [formName]="formThrift.get('host')"></ngx-inline-message>
          </div>
        </div>
        <div class="d-flex row mb-3">
          <strong class="custom-show-data col-3">Port<span class="pl-2" style="color: red">*</span></strong>
          <div class="col-9">
            <input class="input-edit" trim="blur" nbInput fullWidth
                   formControlName="port">
            <ngx-inline-message [message]="'Thrift.column.port'| translate"
                                [formName]="formThrift.get('port')"></ngx-inline-message>
          </div>
        </div>
        <div class="d-flex row mb-3">
          <strong class="custom-show-data col-3">{{'userThrift.group.description' | translate}}</strong>
          <div class="col-9">
            <input trim="blur" nbInput fullWidth class="input-edit" type="text"
                   formControlName="description">
          </div>
        </div>

        <div class="d-flex row">
          <strong class="col-3">{{'userThrift.column.status' | translate}}</strong>
          <nb-radio-group formControlName="activated"
                          class="d-flex justify-content-between col-6 p-0 radio pl-3">
            <nb-radio class="actives" [value]="1">{{'userThrift.group.active' | translate}}</nb-radio>
            <nb-radio class="locks" [value]="0">{{'userThrift.group.lock' | translate}}</nb-radio>
          </nb-radio-group>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end edit-button">
        <button style="margin-right: 10px" *ngIf="data.title === 'create'" (click)="saveCreateThrift(create)"
                [disabled]="!formThrift.valid">
          <nb-icon [icon]="'checkmark-outline'"></nb-icon>
          <strong>{{'userThrift.label.save'| translate}}</strong>
        </button>
        <button style="margin-right: 10px" *ngIf="data.title === 'edit'" (click)="saveUpdateThrift(create)"
                [class.disabled]="!formThrift.valid" [disabled]="!formThrift.valid">
          <nb-icon [icon]="'checkmark-outline'"></nb-icon>
          <strong>{{'userThrift.label.update'| translate}}</strong>
        </button>
        <button class="edit-button-cancel" (click)="create.close()">
          <nb-icon [icon]="'close-outline'"></nb-icon>
          <strong>{{'userThrift.label.cancel'| translate}}</strong>
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #confirmDelete let-data let-deleteRef="dialogRef">
  <nb-card style="width: 400px;background: #181E38 !important;">
    <nb-card-header class="d-flex justify-content-between">
      <strong style="align-self: center;">{{'label.titleDelete'|translate}}</strong>
      <button nbButton ghost (click)="deleteRef.close()" style="background: none; border: none; color: #8C95B2">
        <nb-icon [icon]="'times'" pack="fa" style="font-size: 20px"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      {{'label.confirmDelete'|translate}}
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end edit-button">
        <button (click)="deleteThrift(data.id);deleteRef.close()">
          <nb-icon icon="checkmark-outline"></nb-icon>
          <strong>{{'label.confirm'|translate}}</strong>
        </button>
        <button class="ml-2 edit-button-cancel" (click)="deleteRef.close()">
          <nb-icon icon="close-outline"></nb-icon>
          <strong>{{'label.cancel'|translate}}</strong>
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
