<nb-card>
  <nb-card-header class="d-flex justify-content-center">{{'changePass.changePassTitle'|translate}}
  </nb-card-header>
  <nb-card-body>
    <div class="col-12" [formGroup]="userForm">
      <!--<nb-alert outline="danger" *ngIf="changePassFail" closable (close)="onClose()">{{message}}</nb-alert>-->
      <!--<nb-alert outline="success" *ngIf="changePassSuccess" closable (close)="onCloseSuccess()">{{message}}</nb-alert>-->
      <!--      <form [formGroup]="userForm"  aria-labelledby="title">-->
      <div class="form-group">
        <label class="label" for="currentPassword">{{'changePass.currentPassword'|translate}}<span
          class="text-danger ml-2">*</span></label>
        <input nbInput
               fullWidth
               name="currentPassword"
               type="password"
               id="currentPassword"
               formControlName="currentPassword"
               placeholder="{{'changePass.currentPassword'|translate}}"
               [status]="userForm.get('currentPassword').dirty ?
           (userForm.get('currentPassword').invalid  ? 'danger' : 'success') : ''">
        <ng-container *ngIf="userForm.get('currentPassword').invalid && userForm.get('currentPassword').touched ">
          <ngx-inline-message [formName]="userForm.get('currentPassword')"
                              [message]="'changePass.currentPassword'"></ngx-inline-message>
        </ng-container>
      </div>

      <div class="form-group">
        <label class="label" for="newPassword">{{'changePass.password'|translate}}<span
          class="text-danger ml-2">*</span></label>
        <input nbInput
               fullWidth
               name="newPassword"
               type="password"
               id="newPassword"
               formControlName="newPassword"
               placeholder="{{'changePass.password'|translate}}"
               [status]="userForm.get('newPassword').dirty ?
           (userForm.get('newPassword').invalid  ? 'danger' : 'success') : ''">
        <ng-container *ngIf="userForm.get('newPassword').invalid && userForm.get('newPassword').touched ">
          <ngx-inline-message [formName]="userForm.get('newPassword')"
                              [message]="'changePass.password'"></ngx-inline-message>
        </ng-container>
      </div>

      <div class="form-group">
        <label class="label" for="confirmPassword">{{'changePass.confirmPassword'|translate}}<span
          class="text-danger ml-2">*</span></label>
        <input nbInput
               fullWidth
               name="confirmPassword"
               type="password"
               id="confirmPassword"
               formControlName="confirmPassword"
               placeholder="{{'changePass.confirmPassword'|translate}}"
               [status]="userForm.get('confirmPassword').dirty ?
           (userForm.get('confirmPassword').invalid  ? 'danger' : 'success') : ''">
        <ng-container *ngIf="userForm.get('confirmPassword').invalid && userForm.get('confirmPassword').touched ">
          <ngx-inline-message [formName]="userForm.get('confirmPassword')"
                              [message]="'changePass.confirmPassword'"></ngx-inline-message>
        </ng-container>
      </div>


      <!--      </form>-->
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="float-right d-flex edit-button">
      <button
        [disabled]="userForm.invalid"
        (click)="changePass()">
        Lưu
      </button>
      <button class="ml-2" (click)="ref.close()">
        Hủy
      </button>
    </div>
  </nb-card-footer>
</nb-card>
