<nb-card class="dialog dialog-md">
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" [formGroup]="server">
          <label class="label">Tên<span class="text-danger">*</span></label>
          <input type="text" nbInput fullWidth formControlName="name" (change)="trimChar('name')"/>
          <ngx-inline-message [message]="'Tên sever'"
                              [formName]="server.get('name')"></ngx-inline-message>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" [formGroup]="server">
          <label class="label">Host<span class="text-danger">*</span></label>
          <input type="text" nbInput fullWidth formControlName="host" (change)="trimChar('host')"/>
          <ngx-inline-message [message]="'Tên host'"
                              [formName]="server.get('host')"></ngx-inline-message>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" [formGroup]="server">
          <label class="label">Đường dẫn<span class="text-danger">*</span></label>
          <input type="text" nbInput fullWidth formControlName="path" (change)="trimChar('path')"/>
          <ngx-inline-message [message]="'Tên đường dẫn'"
                              [formName]="server.get('path')"></ngx-inline-message>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" [formGroup]="server">
          <label class="label">Thẻ</label>
          <ng-select [items]="companies"
                     [addTag]="addTagFn"
                     [hideSelected]="true"
                     multiple="true"
                     bindLabel="name"
                     formControlName="tags">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="form-group" [formGroup]="server">
      <label class="label">Mô tả</label>
      <!--          <textarea nbInput fullWidth formControlName="description"></textarea>-->
      <ckeditor [config]="config" formControlName="description"></ckeditor>
      <ngx-inline-message [message]="'Mô tả'" (change)="trimChar('description')"
                          [formName]="server.get('description')"></ngx-inline-message>
    </div>

  </nb-card-body>
  <nb-card-footer>
    <div class="float-right">
      <button nbButton type="button" status="danger" (click)="ref.close()">Hủy</button>
      <button type="button" nbButton class="ml-2" status="primary" (click)="save()"
              [disabled]="isSaving || server.invalid">Lưu
      </button>
    </div>
  </nb-card-footer>
</nb-card>



