<!--<div class="d-flex justify-content-between mb-2 align-items-center">-->
<!--  <h3>breadCrumd</h3>-->
<!--  <ul class="nav nav-pills menu-tab">-->
<!--    <li class="nav-item">-->
<!--      <a [ngClass]="checkActiveRoute('data-ingestion/dashboard') ? 'active' : ''" class="nav-link"-->
<!--         routerLink="dashboard">Dashboard</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a [ngClass]="checkActiveRoute('data-ingestion/monitor-ingestion') ? 'active' : ''" class="nav-link"-->
<!--         routerLink="monitor-ingestion">Monitor Ingestion</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a [ngClass]="checkActiveRoute('data-ingestion/connection-management') ? 'active' : ''" class="nav-link"-->
<!--         routerLink="connection-management">Quản lý kết nối</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <span>-->
<!--      <button class="mr-2" style="border: none" nbButton status="info" ghost>-->
<!--        <a routerLink="/pages/tutorial-ingestion" target="_blank">-->
<!--          <nb-icon-->
<!--            icon="question-mark-circle-outline"-->
<!--          ></nb-icon>-->
<!--        </a>-->
<!--      </button>-->
<!--  </span>-->
<!--</div>-->
<router-outlet></router-outlet>
